h1{
text-align: center;
color: black;
}
body{
    background-color: grey;
    background-image: url("images/Gente.jpg");
    background-size: cove;
    background-size: 100% ;
    
    
    
}
p{
    text-align: center;
    color:white;
}

a{
    color: brown;

}